# Gradle
# ------
.gradle
/build
/buildSrc/build
/buildSrc/subprojects/*/build
/subprojects/*/build
/subprojects/docs/src/samples/**/build
/subprojects/internal-android-performance-testing/build-android-libs

# IDEA
# ----
!/.idea
/.idea/*
!/.idea/codeStyles
!/.idea/inspectionProfiles
*/**/.idea
.shelf
/*.iml
/*.ipr
/*.iws
/buildSrc/.idea
/buildSrc/.shelf
/buildSrc/*.iml
/buildSrc/*.ipr
/buildSrc/*.iws
/buildSrc/out
/buildSrc/subprojects/*/*.iml
/buildSrc/subprojects/*/out
/out
bin/*
/subprojects/*/*.iml
/subprojects/*/out
/.teamcity/*.iml
/.teamcity/target
*codeStyleConfig.xml
.settings

# ANTLR
# -----
*.tokens

# Generated outputs
# -----------------
generated_wat
generated_wasm
*.classpath
*.project

# Binary for performing assembly
# ------------------------------
scripts/wat2wasm
/.vscode/

# Ignore all node modules
node_modules

# Ignore the build .wat files
sample_programs_compiled
